.aboutPage {
    text-align: center;
}

.aboutPage h3 {
    margin: 40px 0;
    text-align: left;
    color: rgb(35, 10, 104);
}

.aboutPage p {
    text-align: left;
}

img {
    display: block;
    margin: auto;
    width: 700px;
    height: 400px;
}

